/* 100 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

/* 200 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

/* 300 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* 400 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* 500 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* 600 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* 700 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* 800 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* 900 */
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
